{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Nexafirma",
    "description": "Referencia API de Nexafirma",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.nexafirma.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/documentos": {
      "get": {
        "description": "Retorna un listado paginado de los documentos",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of results to return",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Respuesta de la lista de documentos",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Documento"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Carga un nuevo documento y crea el proceso de firma electrónica",
        "requestBody": {
          "description": "Datos del documento a enviar a firmar",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Documento"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Respuesta de la carga del documento y creación del proceso de firma electrónica",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocumentoResponse"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/documentos/{id}": {
      "delete": {
        "description": "Elimina un documento basado en el ID proporcionado",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID del documento a eliminar",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Documento eliminado",
            "content": {}
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "webhooks": {
    "/documento/webhook": {
      "post": {
        "description": "Información sobre un nuevo documento enviado a firmar",
        "requestBody": {
          "description": "Documento enviado a firmar",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Documento"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retorna un status 200 para indicar que los datos fueron recibidos correctamente"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Documento": {
        "required": ["nombre"],
        "type": "object",
        "properties": {
          "nombre": {
            "description": "El nombre del documento",
            "type": "string"
          },
          "etiqueta": {
            "description": "Etiqueta para especificar el tipo",
            "type": "string"
          }
        }
      },
      "DocumentoResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Documento"
          },
          {
            "required": ["idDocumentoFirma"],
            "type": "object",
            "properties": {
              "idDocumentoFirma": {
                "description": "Identificación del documento",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": ["error", "mensaje"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "mensaje": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}